body {
    background-color: #43AEFC;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-style: normal;
    font-size:65%
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 3%;
    width: 250px;
    margin: 10%;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.box {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2%;
     margin-left: 15%;
}

.content {
    border-color: rgb(141, 141, 141);
    border-style: solid;
    border-width: 0.5px 0 0.5px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leftfooter {
    display: flex;
    align-items: center;
    border-color: rgb(141, 141, 141);
    border-style: solid;
    border-width: 0 0.5px 0 0;
    justify-content: center
}

#rightfooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

#condImg {
    max-width: 100%;
    height: 100%;
    /* order: -1; */
    flex-flow: 1;
}

#degrees {
    font-size: 300%;
    font-weight: bold;
}

#condition {
    font-size: 110%;
}

#area {
    font-size: 90%;
}

h1 {
    color: #5EBAFD;
    font-size: 150%;
}

.fa-arrow-left,
.fa-droplet,
.fa-temperature-empty {
    color: #5EBAFD;
    font-size: medium;
    order: -1;
}
.content> p{
 padding: 0%;
 margin: 0%;
}

.footer> p{
    padding: 10%;
}
#humidity-info, #feels-like-info{
    display: flex;
    flex-direction: column;
}



